name: Build Image

on: 
  push:
  workflow_dispatch:

env:
  ENDPOINT: "rix1337/docker-wol_api"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: whoan/docker-build-with-cache-action@v5
        with:
          username: "${{ secrets.DOCKERUSER }}"
          password: "${{ secrets.DOCKERPASS }}"
          image_name: "${{ env.ENDPOINT }}"
          image_tag: latest
          stages_image_name: "rix1337/cache-wol_api-latest"
